.parent {
  width : 300px;
  height : 250px;
  margin: 80px;
  padding: 10px;
  text-align: center;
  background-color :gray;
}


button{
 margin: -20px;
  width: 100px;
  height: 30px;
 background-color: blue;
 border-radius: 7px;
  color: white;
  cursor: pointer;
 
}

button:hover{
  background-color:green;
}

.child1 {
  margin: 15px;
  /* background-color: red; */
}

img {
  /* filter: blur(1px);
*/

 filter: grayscale(100%); 

} 

/* 
.child1 {
  width: 100px;
  height: 80px;
  position: relative;
  transition: transform 1s ease-in-out;
} */

/* .child1 img {
  width: 100%;
  height: 100%;
}

.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
} */





